@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-primary: #3b82f6;
  --color-text: #e5e5e5;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
